 {% extends "base.html" %}
 {% block title %}Welcome{% endblock %}
 {% block pagetitle %}Welcome to Techmiya Commercials{% endblock %}
 {% block content %}

	<table width="100%" cellspacing="10">
		<tr>
			<td valign="top">
				<div id="sliderFrame">
					<div id="slider">
						<img src="/site_media/images/slider/images/1.jpg" />
						<img src="/site_media/images/slider/images/2.jpg" />
						<img src="/site_media/images/slider/images/5.jpg" />
						<img src="/site_media/images/slider/images/6.jpg" />
						<img src="/site_media/images/slider/images/7.jpg" />
						<img src="/site_media/images/slider/images/8.jpg" />
						<img src="/site_media/images/slider/images/9.jpg" />
						<img src="/site_media/images/slider/images/15.jpg" />
						<img src="/site_media/images/slider/images/16.jpg" />
						<img src="/site_media/images/slider/images/12.jpg" />
						<img src="/site_media/images/slider/images/13.jpg" />
						<img src="/site_media/images/slider/images/14.jpg" />
						
					</div>
					<!--Note: For non-licensed slider, the hidden link below is required. Otherwise the slider will have only one slice transition effect.-->
					<a id="mcis" href="http://www.menucool.com/slider/jquery-slider">Menucool jQuery Slider helps you build slider that allows any HTML content</a>
				</div>				
			</td>
			
			<!--<td valign="top">
				<div class="maketitle"><font size="4">Contact Details</font></div>
				
				<p>
					<font size="3"><b>United Kingdom</b></font><br>
					Mr. Henry Kapota Miyambo<br>
					54 Uplan D Grove<br>
					Leeds<br>
					LS8 2SY<br>
					<b>Mobile:</b> 07529534629<br>
					<b>Email:</b> henry@techmiyacommercials.com
				</p>
				<p>
					<font size="3"><b>Zambia</b></font><br>
					Mr. James Kalebaila<br>
					Mansa <br>
					<b>Mobile:</b> 0977867386<br>
					<b>Email:</b> james@techmiyacommercials.com
				</p>
				<p>
						
							Mr. Pepino Kateule<br>
							Lusaca <br>
							<b>Mobile:</b> 0977836605<br>
							<b>Email:</b> james@techmiyacommercials.com
						</p>
				<p>
					<font size="3"><b>Namibia</b></font><br>
					Mr. Denis Mweene<br />
					Walvis Bay <br />
					<b>Mobile:</b> 002648161091921<br />
					<b>Email:</b> denis@techmiyacommercials.com
				</p>
			</td>-->
		</tr>
		<tr>
			<td>
				<div class="maketitle"><font size="4">About Us</font></div>
				<p> Techmiya Commercials and Plant equipments suppliers offers an extensive service arrangement of worldwide export, loading facilities, professional and efficient delivery of service in Africa.
				<br />Our aim is to source and supply quality used vehicles, spare parts, plant and machinery equipment at the most competitive prices to customer satisfaction.
				</p>
				
				<p>
					We have reputable customers in Zambia whom we have being supplying commercial vehicles (Trucks), Toyota Hilux, Cars, engines and spare parts in Luapula, Copperbelt and Lusaka provinces.
				</p>
				<p>
					Our sales staff are able to deliver complete sales service and assist with collection of vehicle from ports of entries.
					<br />If you can't find vehicles of your choice, we can source from other dealers within 24 hours in the UK.
					<br />
				</p>

				<p>
					<font size="3"><i>Browse our large selection of quality and competitively commercial vehicles.</i></font>
				</p>
			</td>
		</tr>
	</table>
 
 {% endblock %}
