 {% extends "base.html" %}
 {% block title %}Zambia Showroom{% endblock %}
 {% block pagetitle %}<a href="/showroom/all/">Zambia Showroom</a> {% endblock %}
 {% block content %}
 
<hr />
<div align="right">
<form action="/showroom/search/" method="POST">
	{% csrf_token %}
<!--	<label for="veh_make">Vehicle Make: </label>
	<select name="make" id="veh_make">
		<option value="0">Any</option>
		<option value="ACURA">ACURA</option>
		<option value="ALFA">ALFA</option>
		<option value="ASTON">ASTON</option>
		<option value="AUDI">AUDI</option>
		<option value="BMW">BMW</option>
		<option value="Leyland DAF">Leyland DAF</option>
		<option value="ERF">ERF</option>
		<option value="FIAT">FIAT</option>
		<option value="Foden">Foden</option>
		<option value="FORD">FORD</option>
		<option value="GOLF">GOLF</option>
		<option value="HONDA">HONDA</option>
		<option value="Hyundai">Hyundai</option>
		<option value="IVECO">IVECO</option>
		<option value="MAZDA">MAZDA</option>
		<option value="MERCEDES-BENZ">MERCEDES-BENZ</option>
		<option value="MITSUBISHI">MITSUBISHI</option>
		<option value="NISSAN">NISSAN</option>
		<option value="RENAULT">RENAULT</option>
		<option value="SCANIA">SCANIA</option>
		<option value="TOYOTA">TOYOTA</option>
		<option value="VOLVO">VOLVO</option>
	</select><br/>
-->
<label for="veh_type">Vehicle Type: </label>
<select name="type" id="veh_type">
<option value="0">Any</option>
<option value="TRUCK">TRUCK</option>
<option value="MACHINERY & EQUIPS">MACHINERY & EQUIPMENT</option>

<input type="submit" value="Narrow" class="button">

</form>
</div>
<hr /><br />
{% if vehs %}
 {% for a in vehs %}
		<table width="100%">
			<tr class="{% cycle 'row1' 'row2' %}">
				<td width="150" align="center" valign="center">
					<img src="/static/{{ a.image }}" width="120" height="110"  vspace="10" border="1"/>
				</td>
				
				<td valign="top" align="left">
					<table width="100%">
						<tr>
							<td width="85%" valign="top" align="left">
								<b>Model:</b> <a href="/vehicle/{{a.pk}}" class="modeltitle">{{ a.year }} {{ a.make }} {{ a.model }}</a>{% ifequal a.status "A" %} | <font color=green><i>Available</i></font>{% endifequal %}{% ifequal a.status "S" %} | <font color=red><b>SOLD</b></font>{% endifequal %}<br /><p><b>Description:</b> {{ a.desc }}</p>
							</td>
							<td width="15%" valign="top" align="right">
								<p align="right">Ref: {{ a.ref }}</p>
							</td>
						</tr>
						<tr>
							<td align="right">
								<p align="right"><a href="/vehicle/{{a.pk}}">Click here for More Details and Images</a></p>
							</td>
							<td>
							</td>
						</tr>
					</table>						
				</td>
				
			</tr>	
		</table>		
{% endfor %}
{% else %}
	<p align="center"><b>No Vehicles listed in this category!</b></p>
{% endif %}
{% endblock %}